<!DOCTYPE html>

<html>
    {% include 'hackathon/base.html' %}

    <body>
    <div class="container">
    	{% if user.is_authenticated %}
        	<h1>Api Example</h1>
        	<strong>{{ boldmessage }}</strong><br />
        {% else %}
        	<h1> Please register/login! </h1>
        {% endif %}
    	<br>
		<div class="row">
			<div class="col-sm-6 col-md-6">
          HI, Welcome to the best website ever made.
      </div>
		</div>
		<br>
		<div class="row">
			<div class="col-sm-6 col-md-6">
				We are the best team of the IDC Hackathon, and this is our website.
			</div>
		</div>
	</div>
    </body>
</html>
